.formacion{
    background: #000000;
}



.formacion__lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3rem;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
}

.formacion__lista li img{
 width: 150px;
}

@media screen and (max-width:375px) {
    .formacion__lista{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 3rem;
        padding-left: 0;
        

    }
    .formacion__lista li{
        margin-bottom: 2rem;
        margin-left: 1rem;
    }
}